Build/
VRTemplate/Library/
VRTemplate/Temp/StagingArea/gradleWarmupArea/.gradle/7.2/executionHistory/executionHistory.lock
VRTemplate/Temp/
VRTemplate/Logs/
VRTemplate/UserSettings/
VRTemplate/obj/
VRTemplate/.vs/
*.csproj
*.sln
VRTemplate/.utmp/
VRTemplate_clone_0/
ServerBuild/
